@import '../css/globals.css';

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.title-body {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  animation: fade-in-out 2s infinite;
}

.title-body.stop-animation {
  animation: none;
}

.done-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

