@import '../css/globals.css';

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes message-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(405deg);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #fff;
}

.title {
    font-size: 36px;
    padding: 10px;;
    color: #000;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.chat-messages {
  width: 400px;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  animation: fade-in 0.5s ease-in-out;
}

.chat-message {
  background-color: #34cff1;
  padding: 10px;
  margin-bottom: 10px;
  color: #333;
  text-align: right;
  border: none;
  border-radius: 5px;
  animation: message-fade-in 0.3s ease-in-out;
}

.user-message {
  text-align: left;
  background-color: #7ce5b5;
  color: #333;
}

.chat-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
  animation: fade-in 0.5s ease-in-out;
}

.chat-input input {
  flex-grow: 1;
  padding: 5px;
  color: #333;
  margin-right: 10px; /* Add margin to create space */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-icon {
  background-color: #4f46e5;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: fade-in 0.5s ease-in-out;
}

.send-icon:hover {
  background-color: #4338ca;
}

.send-icon-inner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: rotate(45deg);
  animation: rotate 0.5s linear infinite;
}

.input-box {
  border: none;
  animation: fade-in 0.5s ease-in-out;
}
